.comment-balloon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DDD;
    border-radius: 30px;
    background: #f6f6f6;
    text-align: center;
    opacity: .95;
}

.comment-balloon:hover {
    cursor: pointer;
    background: #efefef;
}

.comment-balloon svg {
    color: #007CFF;
}

.comment-balloon:hover svg {
    color: #005dc7;
}