.sidebar-card {
    z-index: 1000;
    width: 75%;
    border: 1px solid #eee;
    padding: 0.75rem;
}

.card-title,
.reply-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.show-details-button.btn-light {
    background: none;
    border: none;
    color: #7e7e7e;
}
.show-details-button.btn-light:hover {
    background-color: #d3d4d5;
    color: #3f3f3f;
}

.card-info-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.card-info-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.card-info-right button {
    margin-left: 0.5rem;
}

.sidebar-card .avatar {
    width: 2.5rem;
    height: 2.5rem;
}

.sidebar-card .avatar img {
    width: 100%;
    height: 100%;
}

.sidebar-card .user-data {
    margin-left: 0;
}

.sidebar-card .user-name {
    font-size: 1rem;
}

.sidebar-card .card-date {
    font-size: 0.85rem;
    font-weight: 400;
}

.sidebar-card.selected {
    border: 1px solid #fff;
    box-shadow: 0px 0px 5px 0px rgba(166,166,166,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(166,166,166,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(166,166,166,0.75);
}

.form-group {
    margin-bottom: .5rem;
}

.comment-input .content-editable,
.reply-input .content-editable {
    outline: 1px solid #ccc;
    padding: 0.25rem;
    border-radius: 3px;
}

.comment-input .content-editable::before {
    content: "Comment or add other with @";
    color: #80868b;
    pointer-events: none;
    position: absolute;
}

.reply-input .content-editable::before {
    content: "Reply or add other with @";
    color: #80868b;
    pointer-events: none;
    position: absolute;
}

.comment-input.typing .content-editable::before,
.reply-input.typing .content-editable::before {
    content: "";
}

.comment-input .content-editable:focus,
.comment-input .content-editable:active,
.reply-input .content-editable:focus,
.reply-input .content-editable:active{
    outline: 2px solid #005dc7;
}

.comment-control button {
    margin-right: 0.5rem;
}

.reply,
.first-comment {
    border-bottom: 1px solid #eee;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
}

.ai {
    position: relative;
}

.ai-content {
    position: relative;
}

.ai-text {
    position: relative;
    margin-top: 0.25rem;
    padding: 0;
    font-family: "sans-serif";
    font-size: 0.85rem;

    max-height: 7.2rem;

    border: none;
    margin-bottom: 0.5rem;
    /*overflow: hidden;*/

    /*display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;*/

    line-height: 1.2rem;
}

.prompt-text {
    font-family: "serif";
    font-size: 0.80rem;
    font-style: italic;
}

.ai-text:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
    height: 1.1em;
    background: none;
   /*background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);*/
}

.ai-text-fade:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
    height: 1.25em;
    background: none;
    background: linear-gradient(to right, rgba(255, 255, 5, 0), rgb(255, 255, 255) 25%);
}


.ai-show-details {
    cursor: pointer;
    position: relative;
    /*position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;*/
    font-size: 0.85rem;

    color: #06357a;
    text-align:right;
}

.ai-show-details:hover {
    text-decoration: underline;
}

.typing-names {
    font-size: 0.9rem;
    color: #a0a0a0;
    background-color: #ecefef;
    padding: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 2px;
}

.button-group button {
    margin-right: 0.5rem;
}